<h4 class="text-center mb-3 mt-3 font-weight-bold"> Cadastro de Cliente</h4>

<div (click)="redirecionaListaClientes()">
        <button class="btn btn-secondary btn-lg mb-4 p-2 ml-2 mt-2 ">
                <i class="fa fa-arrow-left " aria-hidden="true"></i>
        </button>
</div>

<form [formGroup]="cadastroClienteForm" class="form mt-4" (submit)="cadastrarCliente()">
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Nome Fantasia</label>
            <div class="col-5">
                <input class="form-control" formControlName="nomeFantasia" type="text" placeholder="Ex.: Sisu Sports" autofocus >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('nomeFantasia').errors?.required"
                    text="Nome Fantasia é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('nomeFantasia').errors?.minlength"
                    text="Nome Fantasia muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('nomeFantasia').errors?.maxlength"
                    text="Nome Fantasia estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Razão Social</label>
            <div class="col-5">
                <input class="form-control" formControlName="razaoSocial" type="text" placeholder="Ex.: SISU SPORTS LTDA - ME" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('razaoSocial').errors?.required"
                    text="Razão Social é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('razaoSocial').errors?.minlength"
                    text="Razão Social muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('razaoSocial').errors?.maxlength"
                    text="Razão Social estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">CNPJ</label>
            <div class="col-5">
                <input class="form-control" formControlName="cnpj" type="text" placeholder="Ex.: 99.999.999/0001-99" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cnpj').errors?.required"
                    text="CNPJ é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cnpj').errors?.minlength"
                    text="CNPJ muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cnpj').errors?.maxlength"
                    text="CNPJ estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Inscrição Estadual</label>
            <div class="col-5">
                <input class="form-control" formControlName="inscricaoEstadual" type="text" placeholder="Ex.: 999.999.999.999" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('inscricaoEstadual').errors?.required"
                    text="Inscrição Estadual é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('inscricaoEstadual').errors?.minlength"
                    text="Inscrição Estadual muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('inscricaoEstadual').errors?.maxlength"
                    text="Inscrição Estadual estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Pessoa de Contato</label>
            <div class="col-5">
                <input class="form-control" formControlName="pessoaContato" type="text" placeholder="Ex.: Maria" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('pessoaContato').errors?.required"
                    text="Contato é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('pessoaContato').errors?.minlength"
                    text="Contato muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('pessoaContato').errors?.maxlength"
                    text="Contato estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Email</label>
            <div class="col-5">
                <input class="form-control" formControlName="email" type="email" placeholder="example@example.com" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('email').errors?.required"
                    text="Email é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('email').errors?.email"
                    text="Não está no formato de email!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Telefone</label>
            <div class="col-5">
                <input class="form-control" formControlName="telefone" type="text" placeholder="Ex.: (99)9999-9999" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('telefone').errors?.required"
                    text="Telefone é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('telefone').errors?.minlength"
                    text="Telefone muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('telefone').errors?.maxlength"
                    text="Telefone estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Rua</label>
            <div class="col-5">
                <input class="form-control" formControlName="rua" type="text" placeholder="Ex.: Rua Jota" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('rua').errors?.required"
                    text="Rua é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('rua').errors?.minlength"
                    text="Rua muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('rua').errors?.maxlength"
                    text="Rua estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Número</label>
            <div class="col-5">
                <input class="form-control" formControlName="numero" type="text" placeholder="Ex.: 151" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('numero').errors?.required"
                    text="Número é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('numero').errors?.minlength"
                    text="Número muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('numero').errors?.maxlength"
                    text="Número estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Complemento</label>
            <div class="col-5">
                <input class="form-control" formControlName="complemento" type="text" placeholder="Ex.: Apartamento 101" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('complemento').errors?.maxlength"
                    text="Complemento estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Bairro</label>
            <div class="col-5">
                <input class="form-control" formControlName="bairro" type="text" placeholder="Ex.: Setor Universitário" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('bairro').errors?.required"
                    text="Bairro é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('bairro').errors?.minlength"
                    text="Bairro muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('bairro').errors?.maxlength"
                    text="Bairro estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Cidade</label>
            <div class="col-5">
                <input class="form-control" formControlName="cidade" type="text" placeholder="Ex.: Goiânia" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cidade').errors?.required"
                    text="Cidade é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cidade').errors?.minlength"
                    text="Cidade muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cidade').errors?.maxlength"
                    text="Cidade estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">Estado</label>
            <div class="col-1">
                <select class="form-control" formControlName="estado">
                    <option selected></option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('estado').errors?.required"
                    text="Estado é necessário!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label ml-3">CEP</label>
            <div class="col-5">
                <input class="form-control" formControlName="cep" type="text" placeholder="Ex.: 99999-999" >
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cep').errors?.required"
                    text="CEP é necessário!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cep').errors?.minlength"
                    text="CEP muito curto!">
                </grt-vmessage>
                <grt-vmessage
                    *ngIf="cadastroClienteForm.get('cep').errors?.maxlength"
                    text="CEP estourou o tamanho máximo!">
                </grt-vmessage>
            </div>
    </div>
    <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Representante</label>
                <div class="col-2">
                    <select class="form-control" formControlName="representante">
                        <option selected></option>
                        <ng-container *ngFor="let representante of representantes">
                            <option>{{ representante?.nome }}</option>
                        </ng-container>    
                    </select>
                    <grt-vmessage
                        *ngIf="cadastroClienteForm.get('representante').errors?.required"
                        text="Representante é necessário!">
                    </grt-vmessage>
                </div>
    </div>
    
    <div class="form-group row justify-content-center">
        <div class="col-2">
            <button [disabled]="cadastroClienteForm.invalid" class="btn btn-primary btn-block">Cadastrar</button>
        </div>
    </div>

</form>


