<h4 class="text-center mb-3 mt-3 font-weight-bold"> Edição de Representante</h4>

<div (click)="voltaPaginaAnterior()">
    <button class="btn btn-secondary btn-lg mb-4 p-2 ml-2 mt-2 ">
        <i class="fa fa-arrow-left " aria-hidden="true"></i>
    </button>
</div>

<form [formGroup]="editarRepresentanteForm" class="form mt-4" (submit)="editarRepresentante()" >
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Nome Completo</label>
                <div class="col-5">
                    <input class="form-control" formControlName="nome" type="text" placeholder="{{ representante?.nome }}" readonly >
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">CPF</label>
                <div class="col-5">
                    <input class="form-control" formControlName="cpf" type="text" placeholder="{{ representante?.cpf}}" readonly >
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">RG</label>
                <div class="col-5">
                    <input class="form-control" formControlName="rg" type="text" placeholder="{{ representante?.rg}}" readonly >
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Email</label>
                <div class="col-5">
                    <input class="form-control" formControlName="email" type="email" value="{{ representante?.email }}" placeholder="example@example.com" autofocus>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('email').errors?.email"
                        text="Não está no formato de email!">
                    </grt-vmessage>
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Razão Social</label>
                <div class="col-5">
                    <input class="form-control" formControlName="razaoSocial" type="text" placeholder="{{ representante?.razaoSocial}}" readonly >
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">CNPJ</label>
                <div class="col-5">
                    <input class="form-control" formControlName="cnpj" type="text" placeholder="{{ representante?.cnpj}}" readonly >
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Telefone</label>
                <div class="col-5">
                    <input class="form-control" formControlName="telefone" type="text" value="{{ representante?.telefone }}" placeholder="Ex.: (99)9999-9999" >
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('telefone').errors?.minlength"
                        text="Telefone muito curto!">
                    </grt-vmessage>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('telefone').errors?.maxlength"
                        text="Telefone estourou o tamanho máximo!">
                    </grt-vmessage>
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Rua</label>
                <div class="col-5">
                    <input class="form-control" formControlName="rua" type="text" value="{{ representante?.endereco.rua }}" placeholder="Ex.: Rua Jota" >
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('rua').errors?.minlength"
                        text="Rua muito curto!">
                    </grt-vmessage>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('rua').errors?.maxlength"
                        text="Rua estourou o tamanho máximo!">
                    </grt-vmessage>
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Número</label>
                <div class="col-5">
                    <input class="form-control" formControlName="numero" type="text" value="{{ representante?.endereco.numero }}" placeholder="Ex.: 151" >
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('numero').errors?.minlength"
                        text="Número muito curto!">
                    </grt-vmessage>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('numero').errors?.maxlength"
                        text="Número estourou o tamanho máximo!">
                    </grt-vmessage>
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Complemento</label>
                <div class="col-5">
                    <input class="form-control" formControlName="complemento" type="text" value="{{ representante?.endereco.complemento }}" placeholder="Ex.: Apartamento 101" >
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('complemento').errors?.maxlength"
                        text="Complemento estourou o tamanho máximo!">
                    </grt-vmessage>
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Bairro</label>
                <div class="col-5">
                    <input class="form-control" formControlName="bairro" type="text" value="{{ representante?.endereco.bairro }}" placeholder="Ex.: Setor Universitário" >
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('bairro').errors?.minlength"
                        text="Bairro muito curto!">
                    </grt-vmessage>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('bairro').errors?.maxlength"
                        text="Bairro estourou o tamanho máximo!">
                    </grt-vmessage>
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Cidade</label>
                <div class="col-5">
                    <input class="form-control" formControlName="cidade" type="text" value="{{ representante?.endereco.cidade }}" placeholder="Ex.: Goiânia" >
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('cidade').errors?.minlength"
                        text="Cidade muito curto!">
                    </grt-vmessage>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('cidade').errors?.maxlength"
                        text="Cidade estourou o tamanho máximo!">
                    </grt-vmessage>
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">Estado</label>
                <div class="col-1">
                    <select class="form-control" formControlName="estado">
                        <option selected>Atual - {{representante?.endereco.estado}}</option>
                        <option>AC</option>
                        <option>AL</option>
                        <option>AP</option>
                        <option>AM</option>
                        <option>BA</option>
                        <option>CE</option>
                        <option>DF</option>
                        <option>ES</option>
                        <option>GO</option>
                        <option>MA</option>
                        <option>MT</option>
                        <option>MS</option>
                        <option>MG</option>
                        <option>PA</option>
                        <option>PB</option>
                        <option>PR</option>
                        <option>PE</option>
                        <option>PI</option>
                        <option>RJ</option>
                        <option>RN</option>
                        <option>RS</option>
                        <option>RO</option>
                        <option>RR</option>
                        <option>SC</option>
                        <option>SP</option>
                        <option>SE</option>
                        <option>TO</option>
                    </select>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('estado').errors?.required"
                        text="Estado é necessário!">
                    </grt-vmessage>
                </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label ml-3">CEP</label>
                <div class="col-5">
                    <input class="form-control" formControlName="cep" type="text" value="{{ representante?.endereco.cep }}" placeholder="Ex.: 99999-999" >
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('cep').errors?.required"
                        text="CEP é necessário!">
                    </grt-vmessage>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('cep').errors?.minlength"
                        text="CEP muito curto!">
                    </grt-vmessage>
                    <grt-vmessage
                        *ngIf="editarRepresentanteForm.get('cep').errors?.maxlength"
                        text="CEP estourou o tamanho máximo!">
                    </grt-vmessage>
                </div>
        </div>
        
        <div class="form-group row justify-content-center">
            <div class="col-2">
                <button class="btn btn-primary btn-block">Atualizar</button>
            </div>
        </div>
</form>