<h4 class="text-center mb-3 mt-3 font-weight-bold">
    Pedidos
</h4>

<div class="panel-group text-center">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="btn-group">
                <grt-search (onTyping)="filter = $event">
                </grt-search>
                <div class="row mt-2">
                    <form [formGroup]="tipoForm" class="form" (click)="alteraTipo()">
                        <div class="form-group row">
                            <label class="col-1 col-form-label ml-3"></label>
                            <div>
                                <select class="form-control" formControlName="tipo">
                                    <option selected>Número</option>
                                    <option>Nome Fantasia</option>
                                    <option>CNPJ</option>
                                    <option>Representante</option>
                                    <option>Cidade</option>
                                    <option>Estado</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div (click)="redirecionaCadastroPedido()">
    <button style="float: right" class="btn btn-primary btn-lg mb-4 p-2 mr-2 mt-2 ">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>

<div *ngIf="pedidos; else nada">
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Número
                    <i class="fa fa-sort ml-2" aria-hidden="true" (click)="orderNumero()"></i>
                </th>
                <th scope="col">Nome Fantasia
                    <i class="fa fa-sort ml-2" aria-hidden="true" (click)="orderNomeFantasia()"></i>
                </th>
                <th scope="col">CNPJ
                    <i class="fa fa-sort ml-2" aria-hidden="true" (click)="orderCNPJ()"></i>
                </th>
                <th scope="col">Representante
                    <i class="fa fa-sort ml-2" aria-hidden="true" (click)="orderRepresentante()"></i>
                </th>
                <th scope="col">Cidade
                    <i class="fa fa-sort ml-2" aria-hidden="true" (click)="orderCidade()"></i>
                </th>
                <th scope="col">Estado
                    <i class="fa fa-sort ml-2" aria-hidden="true" (click)="orderEstado()"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos | filterPedido: [filter, type] | filterOrderNumero: optNumero | filterOrderNomeFantasia: optNomeFantasia 
                | filterOrderCNPJ: optCNPJ | filterOrderRepresentante: optRepresentante | filterOrderCidade: optCidade | filterOrderEstado: optEstado"
                (click)="redirecionaDetalhePedido(pedido.id)" grtDarkenOnHover>
                <td>{{pedido.numero}}</td>
                <td>{{pedido.cliente.nomeFantasia}}</td>
                <td>{{pedido.cliente.cnpj}}</td>
                <td>{{pedido.representante.nome}}</td>
                <td>{{pedido.cliente.endereco.cidade}}</td>
                <td>{{pedido.representante.endereco.estado}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #nada>
    Não há pedidos!
</ng-template>